<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BoolFlix</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="app">

      <!-- blocco di ricerca momentaneo -->
      <div class="searchbar">

        <input v-model="inputSearch" type="text" name="" value="">
        <button @click="search()" type="button" name="button">click</button>

      </div>

      <!-- contenitore di films e serie tv -->
      <div class="container_locandine">

        <!-- film -->
        <div v-for="(film, index) in listaFilm" class="locandina" :style="poster(index)">
          <!-- <img :src="poster(index)" alt=""> ALTERNATIVA SE VOGLIO IMG IN HTML-->

          <!-- blocco che compare all'hover FILM!! -->
          <div class="rollHover">

            <!-- titoli film -->
            <div class="titolo">
              {{listaFilm[index].title}}
            </div>
            <!-- titoli originali film -->
            <div class="titolo_originale">
              {{listaFilm[index].original_title}}
            </div>
            <!-- lingua originale dei film -->
            <div class="lingua">
              {{listaFilm[index].original_language}}
            </div>
            <!-- voti dei film -->
            <div class="voto">
              <i v-if="vote(listaFilm[index].vote_average).length > 1" :class="stella"
              v-for="item in vote(listaFilm[index].vote_average)">
              </i>
              <i v-if="vote(listaFilm[index].vote_average).length < 1" :class="votoBasso"></i>
              <!-- {{ vote(listaFilm[index].vote_average) }} -->
            </div>

          </div>


        </div>

        <!-- serie Tv -->
        <div v-for="(serie, index) in listaSerieTv" class="locandina tv" :style="posterTv(index)">

          <!-- blocco che compare all'hover SERIETV!! -->
          <div class="rollHover">

            <!-- titoli SerieTv -->
            <div class="titolo">
              {{listaSerieTv[index].name}}
            </div>
            <!-- titoli originali SerieTv -->
            <div class="titolo_originale">
              {{listaSerieTv[index].original_name}}
            </div>
            <!-- lingua originale delle serieTv -->
            <div class="lingua">
              {{listaSerieTv[index].original_language}}
            </div>
            <!-- voti serieTv -->
            <div class="voto">
              <i v-if="vote(listaSerieTv[index].vote_average).length > 1" :class="stella"
              v-for="item in vote(listaSerieTv[index].vote_average)">
              </i>
              <i v-if="vote(listaSerieTv[index].vote_average).length < 1" :class="votoBasso"></i>
              <!-- {{vote(listaSerieTv[index].vote_average)}} -->
            </div>

          </div>


        </div>

      </div>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
